<section class="quiz-selection">
  <h2>Please select the quiz type you would like to take&hellip;</h2>

  <ul class="buttons">
    <li>
      <button type="button"
              mat-raised-button
              disableRipple="true"
              name="capitals"
              [routerLink]="['/capitals']">Capitals</button>
    </li>
    <li>
      <button type="button"
              mat-raised-button
              disableRipple="true"
              name="flags"
              [routerLink]="['/flags']">Flags</button>
    </li>
  </ul>
</section>
