@import "../../styles/variables";

footer {
  margin-top: 100px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;

  h6 {
    font: 700 14px 'Montserrat', sans-serif;
    color: $light-gray;
    margin: 0 auto;
    width: 350px;

    a {
      color: $light-gray;
      text-decoration: none;

      &:hover {
        color: $turquoise;
      }
    }
  }
}
